# Les opérateurs

1. Les opérateurs mathématiques

a. Les opérateurs arithmétiques

Il existe 4 opérateurs airthmétiques : + ; - ; * et /

In [11]:
# Exemple
2+3

5

In [13]:
# Exemple
2-7

-5

In [ ]:
# Exemple
2+3*4

In [12]:
# Exemple
8/3

2.6666666666666665

b. Autres opérateurs

2. Les opérateurs de comparaison

a. Opérateur d'égalité

Pour comparer deux valeurs, l'opérateur de comparaison est ==

In [7]:
# Exemple
x=2
y=3
z=2
print(x==y)
print(x==z)

False
True

Remarque : Les opérateurs de comparaison renvoient un booléen ( True  ou  False )

b. Opérateur de différence

In [2]:
# Exemple
2!=3

True

c. Opérateurs de supériorité et infériorité

In [9]:
#Exemple
2>=1

True

In [10]:
#Exemple
3<2

False